@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..500&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  background-color: orange;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  margin: 0;
  color: white;
  overflow: hidden;
}

ul {
  padding: 0;
  list-style-type: none;
}

.cardInfo {
  width: 100%;
  padding: 1rem;
  margin: 0;
}

li {
  width: 100%;
  color: white;
  padding: 0 0 1rem 0;
}

p {
  margin: 0;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 1.5rem;
}

.searchItemMoreInfo {
  color: grey;
}

#mainContainer {
  background: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: none;
}

#searchContainer {
  width: inherit;
  height: inherit;
}

#searchBar {
  height: 3rem;
  background: #272654;
  border: none;
  color: white;
  padding: 0 0 0 1rem;
  width: inherit;
}

#cardContainer {
  width: inherit;
  height: inherit;
  background: inherit;
}
.container {
  width: 25rem;
  height: 100vh;
  background: black;
}

#diaryContainer {
  height: 100vh;
  width: 100%;
  background: black;
  overflow-y: scroll;
}

.cardImg {
  width: 100%;
}

.posterThumbnail {
  height: 75px;
  border: 1px solid grey;
}

.searchItem, .diaryItem{
  display: flex;
  column-gap: 1rem;
  margin: 1rem;
  border-bottom: 1px solid grey;
  width: auto;
}

.searchItem:hover, .diaryItem:hover {
  cursor: pointer;
}

.searchItemTitle {
  font-weight: bold;
}

#formContainer {
  display: none;
  width: inherit;
  background: inherit;
  height: inherit;
}

#filmSubmitForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

}

#ratingsInput {
  margin-top: 1rem;
  background: red;
  display: flex;
  border: none;
  justify-content: center;
}

#ratingsInput input[type="radio"] {
  z-index: 1;
  opacity: 0;
  margin-right: -0.7rem;
}

#ratingsInput label {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.5rem;
  border-radius: 50%;
  background: grey;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.removeButton {
  margin-left: auto;
  font-size: 1.5rem;
  background: none;
  color: white;
  border: none;
  padding: none;
  cursor: pointer;
}

.viewOrder {
  font-size: 2rem;
}

.dateAndOrder {
  width: 2.5rem;
}

#ratingContainer {
  width: 9rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

#starsGraphic {
  height: 1.5rem;
  width: 9rem;
  z-index: 1;
  fill: black;
}

#ratingGreyBg {
  width: 8.5rem;
  height: 1.35rem;
  background: #2e2e2e;

  position: absolute;
  left: 0.1rem;
}

#ratingYellowBg {
  width: 0;
  height: 1.35rem;
  background: #3abfcf;

  position: absolute;
  left: 0.2rem;
  top: 0.05rem;
}

#ratingInput {
  width: 9rem;
  height: 1.5rem;
  position: absolute;
  z-index: 2;
  opacity:0;
}

textarea {
  width: 100%;
  height: 20rem;
  background: #2e2e2e;
  resize: none;
  color: white;
  border: none;
}

#sortContainer {
  height: 5rem;
  background: #2e2e2e;
  padding: 0.5rem;
  position: fixed;
  width: inherit;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

#diaryList {
  display: block;
  padding: 4rem 0 0 0;
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
  }

  #mainContainer {
    display: block;
    width: 25rem;
  }

  #addFilm {
    display: none;
  }

  #diaryContainer {
    width: 50rem;
  }
}
